<div class="col-md-6 offset-md-3">
  <%= form_with(model: @theme, local: true) do |f| %>
    <div class="form-group">
      <%= f.text_area :content, class: 'form-control', placeholder: "あるある", rows: 2 %>
    </div>
    <%= f.submit 'Post', class: 'btn btn-primary btn-block' %>
  <% end %>
</div>